<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Date of Birth</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.name %></td>
        <td><%= patient.email %></td>
        <td><%= patient.phone %></td>
        <td><%= patient.date_of_birth %></td>
        <td>
          <!-- Botão para editar -->
          <% if policy(patient).update? %>
            <%= link_to "Edit", edit_patient_path(patient), class: "btn btn-warning" %>
          <% end %>
          
          <!-- Botão para excluir -->
          <% if policy(patient).destroy? %>
            <%= link_to "Delete", patient_path(patient), 
                        method: :delete, 
                        data: { confirm: "Are you sure?" }, 
                        class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

